@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Common range slider base */
.accessible-range {
  @apply absolute top-1 w-full h-[48px] bg-transparent appearance-none pointer-events-auto;
}

.accessible-range::-webkit-slider-thumb {
   padding: 10px 0; 
  -webkit-appearance: none; 
  appearance: none;
  height: 1.5rem; 
  width: 1.5rem;
  margin-top: -36px !important;
  border-radius: 9999px;
  pointer-events: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  background-color: #2563eb; 
}
